@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is intendd to serve as a database for cigars and related information. It is the intent of its creator that indivduals can use this application to learn about brands, cigar types, sizes and shapes, drink pairings, ans well as tastes as intesities. It can be used by novises and experienced smokers alike to find the cigar right for them.</p>
