@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    6335 Brooks Bend Blvd.<br />
    Indianapolis Indiana, 46237<br />
    <abbr title="Phone">P:</abbr>
    330.978.2775
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:krambo89@gmail.com">krambo89@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:krambo89@gmail.com">krambo89@gmail.com</a>
</address>