@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Good Smokes</h1>
    <p class="lead">Good Smokes is a free to use database containing information on cigars, cigar details, and thier brands. We also provide links to websites that offer more information on cigar histories and related materials, as well a link to sites where you can purchase and bid on cigars you find within our database.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New to Cigar Smoking?</h2>
        <p>
            Are you new to cigar smoking, or want to learn more about it's history? Click below to learn more'
        </p>
        <p><a class="btn btn-default" href="https://www.cigaraficionado.com/article/a-brief-history-of-the-cigar-industry-16667">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Information on Cigar Qualities</h2>
        <p>Noticing cigar ratings but not sure what it means? Want to know the difference between good cigar and a bad one? Check out the below link to learn more.</p>
        <p><a class="btn btn-default" href="https://cigar-coop.com/abou/rating-guide">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cigar Buying</h2>
        <p>YFound a cigar you want to try? Visit Cigar Bid and Cigars International to bid or buy related brands and cigar lots at greatly reduced prices.</p>
        <p><a class="btn btn-default" href="https://www.cigarbid.com/">Cigar Bid &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.cigarsinternational.com/">Cigars International &raquo;</a></p>
    </div>
</div>